body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #b195a5af;
}

.full-height {
  height: 100%;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}

#title > .love {
  font-size: 100%;
  color: #6888d1 !important;
  text-align: center;
  font-family: "Avenir";
}

.thenav > #onelist {
  height: auto;
  width: 100%;
  overflow: hidden;
  overflow-y: none;
  margin: auto;
  text-align: center;
  font-size: 100%;
  color: #000000;
  font-family: "Avenir";
}

#onelist {
  list-style-position: inside;
}

.mhd {
  font-size: 140%;
  font-family: "Alata", sans-serif;
}
